// $color-primary: #007fff;
$color-primary: #008b8b;
// $color-primary: #f9a602;
$text-color: #c2c2c2;
// $text-color: #181714;
$text-color-dark: darken($color-primary, 25);
$text-color-light: #fff;
$bg-color: #000;
$bg-color-sec: lighten($bg-color, 5);
// $bg-color: #fff;

$font: Raleway, sans-serif;
