@import 'variables';
@import 'base';
@import 'functions';

@import 'components/button';
@import 'components/form';
@import 'components/loader';
@import 'components/quote';
@import 'components/postQuote';
@import 'components/comment';
@import 'components/commentItem';

@import 'containers/main';
@import 'containers/profile';

@import 'pages/authPage';
@import 'pages/home';
