button {
    border: none;
    padding: 1rem 2rem;
    background-color: $color-primary;
    border-radius: 50px;
    color: #fff;
    outline: none;
    transition: transform 0.2s ease;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);

    &:hover {
        transform: translateY(-1px);
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
        transition: none;
        transform: translateY(0);
        opacity: 0.4;
        cursor: not-allowed;
    }
}
