.chat-item {
    padding: 1rem;
    border-bottom: 1px solid rgba($text-color, 0.2);
    cursor: pointer;
    display: flex;

    &:first-child {
        border-top: 1px solid rgba($text-color, 0.2);
    }

    &:hover {
        background-color: rgba($color-primary, 0.2);
    }

    &__title {
        margin-bottom: 0.5rem;
    }

    &__last-message {
        opacity: 0.4;
    }

    &__details {
        flex: 1;
    }

    &__images {
        margin-right: 1rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 13%;
        min-width: 7rem;
    }

    &__image {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $text-color-light;
        margin-left: -2rem;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
