.comment {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    flex-direction: row;

    textarea {
        background-color: transparent;
        padding: 1rem 1rem;
        color: $text-color;
        resize: none;
        border: none;
        border-bottom: 1px solid $color-primary;
        height: 4rem;
        outline: none;
        font-family: $font;
        flex: 1;
    }

    button {
        margin-left: 2rem;
        padding: 1rem 1.5rem;
    }
}
