.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#fff, 0.2);

    display: grid;
    place-items: center;
    z-index: 20;
}

.modal {
    background-color: #fff;
    padding: 1rem 2rem 3rem;
    display: flex;
    flex-direction: column;

    .close {
        align-self: flex-end;
        color: black;
        background-color: transparent;
        border: none;
        border-radius: none;
        box-shadow: none;
        cursor: pointer;
    }

    .content {
        padding: 3rem 0;
    }

    .actions {
        margin-top: 2rem;
    }
}
