.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($bg-color, 0.7);

    display: grid;
    place-items: center;
    z-index: 20;

    &.show {
        display: block;
    }

    &.hide {
        display: none;
    }
}

.modal {
    background-color: $bg-color;
    padding: 1rem 2rem 3rem;
    display: flex;
    flex-direction: column;

    .close {
        align-self: flex-end;
        color: $text-color;
        background-color: transparent;
        border: none;
        border-radius: none;
        box-shadow: none;
        cursor: pointer;
    }

    .content {
        padding: 3rem 0;

        .preview {
            width: 100%;
            margin: 1rem auto 0;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }

    .actions {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;

        & button:first-child {
            margin-right: 1rem;
        }
    }
}
