.post {
    background-color: rgba($color-primary, 0.04);
    padding: 2rem;

    div {
        display: flex;
        margin-top: 2rem;
    }
    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-right: 2rem;
    }

    textarea {
        flex: 1;
        background-color: transparent;
        border: none;
        resize: none;
        color: var(--text-color);
        font-size: 2.5rem;
        outline: none;

        &:focus {
            border-bottom: 1px solid $color-primary;
        }
    }

    button {
        margin-left: 7rem;
        margin-top: 2rem;
    }

    hr {
        margin-top: 2rem;
        border-width: 3px;
        border-color: transparentize(#ccc, 0.9);
    }
}
