.quote {
    padding: 2rem;
    margin: 2rem;
    border-radius: 5px;
    background-color: rgba($color-primary, 0.1);

    header {
        display: flex;
        justify-content: space-between;
    }

    blockquote {
        margin-top: 2rem;
        padding: 2rem 0;
        text-align: center;
        position: relative;
        color: $text-color-dark;
        font-size: 1.8rem;
        font-weight: 700;

        .content {
            width: 70%;
            display: inline-block;
            margin: 0 auto;
        }

        .fa-quote-left {
            font-size: 7rem;
            color: rgba($text-color-dark, 0.1);
            position: absolute;
            top: 20%;
            left: 0;
        }
    }

    figcaption {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.4rem;
        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-left: 0.5rem;
        }
    }

    footer {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;

        button.action {
            background-color: transparent;
            box-shadow: none;
            border-radius: 0px;
            font-size: 1.6rem;
            color: $text-color;

            span {
                margin-left: 0.5rem;
            }

            &:nth-child(1):hover {
                color: $color-primary;
            }

            &:nth-child(2):hover {
                color: yellow;
            }

            &:nth-child(3) {
                &.active {
                    color: #32cd32;
                }

                &:hover {
                    color: #32cd32;
                }
            }

            &:nth-child(4):hover {
                color: orangered;
            }
        }
    }
}
