.chat {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;

        .chat-item {
            &__images {
                width: fit-content;
                min-width: 0;
            }

            &__image {
                &:last-child {
                    margin-left: 0;
                }
            }
        }

        h1 {
            flex: 1;
        }
    }

    .group-chat-header {
        cursor: pointer;
        &:hover {
            background-color: rgba($color-primary, 0.15);
        }
    }

    .num-images-left {
        display: inline-block;
        align-self: center;
        padding: 1rem;
        background-color: rgba($color-primary, 0.15);
        border-radius: 50%;
        margin-left: -0.8rem;
        width: 4rem;
        height: 4rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .chat-window {
        flex: 1;
    }

    .message-box {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        padding-bottom: 4rem;

        button {
            margin: 0 2rem;
            padding: 0;
            background-color: transparent;
            font-size: 3rem;

            &:hover {
                color: $color-primary;
            }
        }
    }

    .message-list {
        list-style: none;
        // background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        align-items: start;
        // overflow-y: scroll;
        // scrollbar-
        padding: 1rem 2rem;
    }

    .message-item {
        padding: 1rem 1.2rem;
        background-color: $bg-color-sec;
        max-width: 55%;
        margin-bottom: 0.2rem;
        border-radius: 100px 100px 100px 0;

        &__mine {
            align-self: flex-end;
            background-color: rgba($color-primary, 0.7);
            color: #fff;
            border-radius: 100px 100px 0 100px;
        }
    }

    .message {
        background-color: rgba($color-primary, 0.15);
        border: none;
        border-radius: 100px;
        color: $text-color-light;
        flex: 1;
        resize: none;
        color: $text-color;
        outline: none;
        font-family: $font;
        font-size: 1.6rem;
        padding: 0.5rem 2rem 1rem;
        line-height: 1.5;
        height: 4rem;
    }
}
