main {
    // background-color: rgba($color-primary, 0.04);
    grid-area: 'main';
    width: 2fr;

    h1 {
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 2rem;
        margin-bottom: 1rem;
        font-weight: 700;
        background-color: rgba($color-primary, 0.04);
    }

    hr {
        border-color: $text-color;
    }
}
