.new-chat {
    .search-form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .selected-user-names {
            padding: 0.5rem;
            background-color: lighten($bg-color, $amount: 7);
            margin-left: 1rem;
            display: flex;
            align-items: center;

            ion-icon {
                margin-left: 0.5rem;
            }
        }
    }
    .chat-search {
        margin-left: 2rem;
        flex: 1;
        margin-top: 1rem;
        min-width: 250px;
    }

    .create-chat {
        display: block;
        margin: 2rem auto 0;
    }

    .users {
        .user {
            cursor: pointer;
            &:hover {
                background-color: lighten($bg-color, 7);
            }
        }
    }
}
