.profile {
    &-header {
        border-bottom: 2px solid $color-primary;
        padding-bottom: 2rem;
    }

    &-images {
        position: relative;
        .cover-image {
            height: 20rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -10%);

            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid $text-color-light;

            &:hover {
                button {
                    display: block;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            button {
                position: absolute;
                width: 100%;
                height: 100%;
                font-size: 5rem;
                background-color: rgba($bg-color, 0.2);
                top: 0;
                left: 0;
                display: none;
            }
        }
    }

    &-details {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        .user-details {
            p {
                margin-bottom: 5px;

                span i {
                    font-weight: 700;
                    font-style: normal;
                    color: $text-color-light;
                    font-size: 2rem;
                }
            }
            .user-fullname {
                color: $text-color-light;
                font-weight: 700;
            }
        }

        .user-actions {
            display: flex;
            align-items: flex-start;
            .follow-button {
                margin-left: 1rem;
                border: 1px solid transparent;
            }

            .message-button {
                font-size: 2rem;
                padding: 0.5rem 1.6rem;

                background-color: transparent;
                color: $text-color-light;
                border: 1px solid $text-color-light;

                &:hover {
                    background-color: $color-primary;
                    color: $text-color-light;
                    border: 1px solid transparent;
                }
            }
        }
    }
}
