.search-form {
    padding: 2rem;

    .search-bar {
        background-color: rgba($color-primary, 0.15);
        border-bottom: none;
        border-radius: 100px;
        color: $text-color-light;
        font-size: 1.6rem;
    }
}

.tabs {
    display: flex;
    list-style: none;

    .tab {
        width: 50%;
        justify-content: space-between;
        text-align: center;
        padding: 1rem 0;
        cursor: pointer;

        &:hover {
            background-color: rgba($color-primary, 0.15);
        }
    }

    .tab.active {
        border-bottom: 3px solid $color-primary;
    }
}
