$color-primary: #007fff;
:root {
    --color-primary: #007fff;
    --text-color: #74879b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Raleway, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: #000;
}

.authPage {
    background-color: $color-primary;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 48rem;

    .form-input {
        position: relative;

        i {
            position: absolute;
            top: 20%;
            left: 0;
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    h4 {
        color: red;
        text-align: center;
    }

    p {
        font-size: 1.3rem;
    }

    button {
        margin-top: 1rem;
        border: none;
        padding: 1rem 0;
        background-color: $color-primary;
        border-radius: 5px;
        color: #fff;
    }
}

button {
    border: none;
    padding: 1rem 2rem;
    background-color: $color-primary;
    border-radius: 50px;
    color: #fff;
    outline: none;
    transition: transform 0.2s ease;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);

    &:hover {
        transform: translateY(-1px);
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
        transition: none;
        transform: translateY(0);
        opacity: 0.4;
        cursor: not-allowed;
    }
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 1rem 0.5rem;
    padding-left: 3rem;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
    outline: none;

    &:focus {
        border-color: $color-primary;
    }

    &:focus ~ i {
        color: $color-primary;
    }
}

a {
    color: $color-primary;
}
